* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.margin_2 {
  margin: 0 2% 0;
}

body {
  background-color: #020a18;
  font-family: "Open Sans", sans-serif;
  /*padding-left: 387px;
  padding-right: 387px;*/
}

.container {
  max-width: var(--width-container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: block;
}

.header {
  margin-bottom: 160px;
  display: flex;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  padding: 40px 16px;
  line-height: normal;
  text-decoration: none;
  font-style: normal;
}

.nav {
  display: flex;
  justify-content: center;
}

.header-link:hover {
  color: #3a68b8;
}

.main {
  width: 89.3%;
  margin-bottom: 221px;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main1 {
  margin-bottom: 197px;
}

.main1-flex {
  display: flex;
  justify-content: space-between;
}

.main1-left {
  width: 57%;
  margin-right: 6%;
}

.main1-subtitle {
  color: #3a68b8;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main1-title {
  color: #fff;
  font-family: Open Sans;
  font-size: 55px;
  font-weight: 800;
  line-height: 130%; /* 71.5px */
  margin-bottom: 40px;
}

.main1-dsc {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  margin-bottom: 50px;
}

.main1-right {
  width: 45%;
  display: flex;
  justify-content: end;
}

.main-link {
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #3a68b8;
  color: #fff;
  border-radius: 5px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  margin-bottom: 255px;
  gap: 32px;
}

.logos-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main2 {
  margin-bottom: 256px;
}

.main2-flex {
  display: flex;
  justify-content: space-between;
}

.main2-left,
.main2-right {
  width: 42%;
}

.main2-right {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.main2-title {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
}

.main2-dsc {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 65px;
}

.items {
  margin-bottom: 243px;
}

.items-flex {
  display: flex;
  justify-content: space-between;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  padding: 0px 30px 30px 30px;
  /*width: 31.6%;*/
}

.item::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -41.9%,
    #fff 115.68%
  );
  backdrop-filter: blur(100px);
  opacity: 0.1;
}

.item-img {
  margin: 30px 132px 30px 132px;
}

/*.item-big {
  grid-column: span 2;
  grid-row: span 2;
  width: 754px;
  height: 808px;
  flex-shrink: 0;
  gap: 60px;
  display: grid;
  justify-items: center;
}*/

.item-heading {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
  gap: 30px;
}

.item-text {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  opacity: 0.7;
  gap: 30px;
}

.item-img {
  width: 98px;
  height: 103px;
  flex-shrink: 0;
}

.main3 {
  margin-bottom: 221px;
}

.main3-flex {
  display: flex;
  justify-content: space-between;
}

.main3-title {
  color: #fff;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  padding-top: 14px;
  margin-bottom: 40px;
}

.main3-dsc {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  opacity: 0.7;
  margin-bottom: 20px;
  padding-right: 88px;
}

.footer {
  border-radius: 10px;
  opacity: 0.05;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -41.9%,
    #fff 260.24%
  );
  backdrop-filter: blur(100px);
}

.footer-subtitle {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 33px;
  opacity: 0.6;
}

.footer-ad {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.footer-dsc {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  opacity: 0.6;
}

.footer-www {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.footer-icon {
  margin-right: 24px;
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*body {
    background-color: #020a18;
    font-family: "Open Sans", sans-serif;
  }*/

  .menu-link {
    padding: 40px 16px;
  }

  .main1 {
    margin-bottom: 200px;
  }

  .main1-left {
    width: 67%;
    margin-bottom: 140px;
  }

  .main1-right {
    width: 46%;
  }

  .main1-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main1-subtitle {
    font-size: 16px;
  }

  .main1-title {
    font-size: 48px;
  }

  .logos {
    margin-bottom: 250px;
  }

  .logos-flex {
    max-width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    gap: 5%;
  }

  .product-logo {
    margin-bottom: 5%;
  }

  .main2 {
    margin-bottom: 250px;
  }

  .main2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main2-left {
    width: 71%;
  }

  .main2-right {
    width: 60%;
  }

  .main2-left {
    margin-bottom: 68px;
  }

  .items {
    margin-bottom: 210px;
  }

  .items-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 42%;
    margin-bottom: 32px;
  }

  .main3 {
    margin-bottom: 0;
  }

  .main3-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main3-left {
    width: 65%;
    margin-bottom: 44px;
  }

  .main3-right {
    width: 67%;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding-top: 48px;
  }

  .footer-left {
    width: 30%;
    padding-left: 4vw;
    margin-bottom: 14px;
  }

  .footer2 {
    width: 30%;
  }

  .footer-right {
    padding-left: 4vw;
  }
}

@media (max-width: 767px) {
  /*body {
    background-color: #020a18;
    font-family: "Open Sans", sans-serif;
  }*/

  .header {
    width: 100%;
    margin-bottom: 45px;
  }

  .nav {
    width: 100%;
  }

  .menu-link {
    font-size: 14px;
    padding: 40px 8px;
  }

  .main {
    margin-bottom: 96px;
  }

  .main1 {
    margin-bottom: 125px;
  }

  .main1-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main1-left {
    display: flex;
    margin-right: 0px;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 99px;
  }

  .main1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main1-subtitle {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .main1-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 64px;
  }

  .main1-dsc {
    width: 85%;
    text-align: center;
    margin-bottom: 39px;
  }

  .main-link {
    margin-bottom: 24px;
    margin-right: 0px;
  }

  .main1-img {
    width: 54%;
  }

  .logos {
    margin-bottom: 175px;
  }

  .logos-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-logo {
    margin-bottom: 32px;
  }

  .main2 {
    margin-bottom: 80px;
  }

  .main2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main2-left {
    width: 52%;
    margin-bottom: 68px;
  }

  .main2-img {
    width: 100%;
  }

  .main2-right {
    text-align: center;
    width: 60%;
  }

  .main2-title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .main2-dsc {
    padding: 0 10px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
  }

  .items {
    margin-bottom: 45px;
  }

  .items-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    width: 60%;
    margin-bottom: 32px;
  }

  .main3-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main3-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .main3-left {
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
  }

  .main3-dsc {
    padding-right: 0px;
  }

  .main3-right {
    width: 50%;
  }

  .main3-img {
    width: 100%;
  }

  .footer {
    padding: 0 0 0;
  }

  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    width: 50%;
    margin-right: 0px;
    order: 1;
    text-align: start;
    margin-bottom: 10px;
  }

  .footer2 {
    padding-top: 113px;
    width: 50%;
    order: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer2-subtitle {
    text-align: center;
  }

  .footer2-dsc {
    text-align: start;
    width: 75%;
  }

  .footer-right {
    order: 2;
  }
}
